:root {
    --color-blue-ocean: #00b7a8;
    --color-deep-ocean: #123a43;
    --color-sand: #f4a460;
    --color-sand-light: #f8c9a0;
    --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: BernardoModa;
    src: url(./assets/Bernardo\ Moda.ttf);
}

@font-face {
    font-family: GreatVibes;
    src: url(./assets/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: Lieselotte;
    src: url(./assets/Lieselotte\ -\ Personal\ Use.ttf);
}

* {
    /* border: 1px solid rgb(255, 8, 136); */
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'BernardoModa';
    margin: auto;    
    background-color: var(--color-deep-ocean);
    min-width: 700px;
    max-width: 1000px;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(azure , var(--color-blue-ocean));
    color: var(--color-deep-ocean);
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 25px 0;
}

.hero-text h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 10px teal;
}

.hero-text h2 {
    margin-top: 0;
    margin-left: auto;
}

.header h3 {
    text-shadow: 3px 3px 10px azure;
    font-style: italic;
    font-size: 1.5em;
    margin: 20px auto 0;
}

img.hero {
    width: 450px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px var(--color-deep-ocean);
}

#topnav {
    display: flex;
    justify-content: left;
    background: var(--color-blue-ocean);
    padding-left: 30px;
}

#topnav button {
    color: var(--color-deep-ocean);
    background-color: var(--color-sand);
    font-family: inherit;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    border: none;
    border-color: var(--color-deep-ocean);
    border-radius: 10px;
    margin: 5px 10px 0 0;
    padding: 5px 25px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--color-deep-ocean);
    background: var(--color-blue-ocean);
    padding: 30px;
}

#home-img-container {
    text-align: left;
    position: relative;
}

#home-img-container img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px teal;
}

#home-img-container div {
    max-height: 100%;
    position: absolute; 
    top: 5%;
    left: 50%;
    transform: translate(-90%, 0);
    font-size: 2em;
    color: var(--color-sand);
    text-shadow: 1px 1px 15px black;
}

#home-img-container h1 {
    margin: 0;
}

#home-img-container h3 {
    font-style: italic;
    font-size: 0.5em;
    text-shadow: 1px 1px 3px black;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    background-color: var(--color-deep-ocean);
    color: var(--color-blue-ocean);
    font-size: 10em;
    padding: 40px;
}

.slideshow-container {
    display: flex;
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container .slides {
    display: none;
}

.slideshow-container blockquote {
    text-align: center;
    margin: 10px;
}

.prev, .next {
    color: var(--color-sand);
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.quote {
    color: var(--color-deep-ocean);
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.attrib {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contact-card {
    color: var(--color-deep-ocean);
    background: var(--color-sand-light);
    font-size: 2.5em;
    font-weight: bolder;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.footer * {
    display: flex;
    background-color: var(--color-blue-ocean);
    color: var(--color-deep-ocean);
    justify-content: center;
}

.footer-content {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}

.footer i {
    color: var(--color-deep-ocean);
    margin-left: 20px;
}