:root {
    --color-blue-ocean: #00b7a8;
    --color-deep-ocean: #123a43;
    --color-sand: #f4a460;
    --color-sand-light: hsl(28, 87%, 80%);
}

* {
    /* border: 1px solid rgb(255, 8, 136); */
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--color-deep-ocean);
    max-width: 1200px;
}

.header {
    display: flex;
    background-color: var(--color-blue-ocean);
    color: var(--color-deep-ocean);
    padding: 20px 20px;
    justify-content: space-evenly;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 12px;
}

.hero-text h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.hero-text h2 {
    margin-top: 0;
    margin-left: auto;
}

.hero-text h3 {
    font-style: italic;
    text-align: right;
}

img.hero {
    width: 500px;
    border-radius: 20px;
}

#topnav {
    display: flex;
    justify-content: center;
    background: var(--color-blue-ocean);
}

#topnav button {
    color: var(--color-deep-ocean);
    background-color: var(--color-sand);
    font-size: 2em;
    text-decoration: none;
    border: none;
    border-color: var(--color-deep-ocean);
    /* border-bottom: 6px solid var(--color-deep-ocean); */
    border-radius: 10px 10px 0 0;
    margin: 5px 40px 0;
    padding: 5px 20px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--color-deep-ocean);
    background: var(--color-sand);
    padding: 30px;
    min-height: 500px;
    border: 1px solid var(--color-deep-ocean);
}

#home-img-container {
    text-align: right;
    position: relative;
}

#home-img-container img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--color-deep-ocean);
}

#home-img-container h1 {
    max-height: 80%;
    position: absolute; 
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    font-size: 2.5em;
    color: var(--color-sand-light);
    text-shadow: 3px 5px 5px var(--color-deep-ocean);
}

.body {
    display: flex;
    justify-content: center;
    background-color: var(--color-deep-ocean);
    color: var(--color-blue-ocean);
    font-size: 10em;
    padding: 40px;
}

.footer * {
    display: flex;
    background-color: var(--color-blue-ocean);
    color: var(--color-deep-ocean);
    justify-content: center;
}

.footer-content {
    padding: 10px;
    /* border-top: 1px solid var(--color-deep-ocean); */
    align-items: center;
    justify-content: space-evenly;
}

.footer i {
    color: var(--color-deep-ocean);
}